@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --gray-0: #fff;
    --gray-1: #292621;
    --gray-2: #2B2F33;
    --gray-3: #2B2F33;
    --gray-4: #ADB5BD; 
    --gray-5: #CED4DA;
    --gray-6: #F1F3F5;     
    --gray-7: #F1F3F5;
    --gray-8: #F8F9FA;
    --gray-9: #FDFEFF ;
    --brand-1: #8629FF;
    --brand-2: #6F00FF;

    --font-family: 'Inter', sans-serif;
    --padding: 16px;
    --max-width: 1124px;
}

body {
    font-family: var(--font-family);
    margin-left: auto;
    margin-right: auto;
    padding: var(--padding);
    max-width: var(--max-width);
    background-color: var(--gray-0);
}

.dark-mode {
    --gray-0: #212529;  
    --gray-1: #E0E0E0;  
    --gray-2: #F1F3F5; 
    --gray-3: #2C2C2C;
    --gray-4: #B0B0B0;
    --gray-5: #999999;
    --gray-6: #2B2F33;     
    --gray-7: #2B2F33;
    --gray-8: #F8F9FA;
    --gray-9: #000000;
    --brand-1: #6F00FF;
    --brand-2: #8629FF;
}

