header {
    background-color: var(--gray-0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: var(--gray-1);
    border-bottom: 3px solid var(--brand-2);
    padding: 16px 24px;  
    margin: 0 auto;
    max-width: 1024px;  
    width: calc(100% - 20px);  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-sizing: border-box;
}

main {
    margin-top: 110px; 
}

.highlight {
    color: var(--brand-2);
}

#theme-toggle {
    background-color: var(--gray-6);
    padding: 5px 10px;
    border-radius: 5px;
}
